@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

body{
    background-color: #161618;
}

.container{
    width: 100%;
}

.card{
    width: 510px;
    height: 330px;
    border: 1px solid dimgray;
}

.display-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-space-around{
    justify-content: space-around;
}

.flex-direction-column{
    flex-direction: column;
}

.border-radius-10{
    border-radius: 10px;
}

.font-size-18{
    font-family: "Schibsted Grotesk", sans-serif;
    font-size: 18px;
    color: #faf8f8;
}

.regular-input {
    font-family: "Schibsted Grotesk", sans-serif;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid dimgray;
    outline: none;
    color: #faf8f8;
    background: none;
    box-shadow: none;
    caret-color: #faf8f8;
}

.regular-input:-webkit-autofill,
.regular-input:-webkit-autofill:focus,
.regular-input:-webkit-autofill:hover,
.regular-input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #faf8f8 !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
}

.margin-10{
    margin: 10px;
}

.padding-5{
    padding: 5px;
}

.margin-left-10{
    margin-left: 10px;
}

.circle-button{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
}

.position-fixed{
    position: fixed;
}

.green-button{
    background-color: yellowgreen;
}
.green-button:hover{
    background-color: #b9f449;
}
.green-button:active{
    background-color: #6f9718;
}

.red-button{
    background-color: orangered;
}
.red-button:hover{
    background-color: #ff7c45;
}
.red-button:active{
    background-color: #c13800;
}

.purple-button{
    background-color: mediumpurple;
}
.purple-button:hover{
    background-color: #b594f3;
}
.purple-button:active{
    background-color: #6746aa;
}
