@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

body{
    background-color: #161618;
}

h1{
    color: #284b63;
    font-family: "Schibsted Grotesk", sans-serif;
}

select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-color: transparent;
    border: 1px solid #3b3b3c;
    outline: none;
    width: 160px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

    font-family: "Schibsted Grotesk", sans-serif;
    color: #ebebec;
    font-size: 24px;
    font-weight: bold;
}

option{
    background-color: #161618;
    border: none;
    outline: none;

    font-family: "Schibsted Grotesk", sans-serif;
    color: #7b97aa;
    font-size: 18px;
    font-weight: bold;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #161618;
    border: 1px solid #3b3b3c;
    width: 160px;
    height: 120px;
    border-radius: 10px;
    margin: 10px;

    font-family: "Schibsted Grotesk", sans-serif;
    color: #7b97aa;
    font-size: 24px;
    font-weight: bold;
}